<table class="table table-bordered">
<tr>
    <td colspan="3">
        <strong>Header Color: </strong> &nbsp;&nbsp;&nbsp;
        <i id="clrAppHdr" class="fa fa-square" style="color:#9d86c9;size:2px;"></i>
        <input class="jscolor" mybox="clrAppHdr" onchange="onJqColor(this)" value="9d86c9" />
    </td>
</tr>
<tr>
    <td colspan="3"><strong>Header text:</strong> &nbsp;&nbsp;
        <input type="number" value="16" style="width:30px;" />&nbsp;&nbsp;
        [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>]&nbsp;&nbsp;
        <strong>
            <i class="fa fa-font" style="color:darkgreen"></i>
        </strong>:
        <i id="clrAppHdrTxt" class="fa fa-square" style="color:#050505;size:2px;"></i>
        <input class="jscolor" mybox="clrAppHdrTxt" onchange="onJqColor(this)" value="050505" />
    </td>
</tr>
</table>

<table class="table table-bordered">
        <tr>  
          <td colspan=3>
            <strong>List background:</strong> &nbsp; 
            <i id="clrList" class="fa fa-square" 
              style="color:#f5f5f5;size:2px; border:1px; border-style:solid;"></i>
            <input class="jscolor" mybox="clrList" onchange="onJqColor(this)" value="6f6f6f" />
          </td>
        </tr>
        <tr>
          <td class="column-text-fit"><strong>Caption:</strong></td>
          <td>
            [+[  16]-] pt &nbsp;&nbsp;
            [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>] &nbsp;&nbsp;
            <strong><i class="fa fa-font" style="color:darkgreen"></i></strong>: &nbsp;      
            <i id="clrListCaption" class="fa fa-square" style="color:#050505;size:2px;"></i>
            <input class="jscolor" mybox="clrListCaption" onchange="onJqColor(this)" value="050505" />      
          </td>
        </tr>
        <tr>
          <td><strong>Item:</strong></td>
          <td colspan="2">
            [+[12.5]-] pt &nbsp;&nbsp;
            [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>] &nbsp;&nbsp;
            <strong><i class="fa fa-font" style="color:darkgreen"></i></strong>: &nbsp;      
            <i id="clrListItem" class="fa fa-square" style="color:#050505;size:2px;"></i>
            <input class="jscolor" mybox="clrListItem" onchange="onJqColor(this)" value="050505" />      
          </td>
        </tr>
      <tr>  
        <td colspan="2">
          <strong>Button color:</strong> &nbsp;&nbsp;
            <i id="clrButton" class="fa fa-square" 
               style="color:#9d86c9;size:2px;"></i>
            <input class="jscolor" mybox="clrButton" onchange="onJqColor(this)" value="9d86c9" />    
        </td>
      </tr>
      <tr>
        <td class="column-text-fit"><strong>Button text</strong></td>
        <td colspan="2">
          [+[12.5]-] pt &nbsp;&nbsp;
          [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>] &nbsp;&nbsp;
          <strong>
            <i class="fa fa-font" style="color:darkgreen"></i>
          </strong>: &nbsp;      
          <i id="clrListCaption" class="fa fa-square" 
             style="color:#050505;size:2px;"></i>
          <input class="jscolor" mybox="clrListCaption" 
                 onchange="onJqColor(this)" value="050505" />  
        </td>
      </tr>
    </table>
    