<Template name="vysThemeCtrl">

    <h4>Theme settings</h4>
    <tr>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td class="column-text-fit">
                        <strong>Color set: &nbsp;</strong>
                    </td>
                    <td class="column-text-fit">
                        <div id="colorsetChooser" class="color-picker-simulator">
                            <img src="../images/tinyColorPick.jpg" class="color-picker-img" />
                        </div>
                    </td>
                    <td>
                        <i class="fas fa-palette" style="font-size:20px;color:midnightblue"></i> <br />
                        [<i class="fa fa-square" style="color:#9d86c9;size:2px;"></i>][9d86c9 v]
                    </td>
                </tr>
                <tr>
                    <td><strong>Font:</strong></td>
                    <td colspan="2">
                        [ font chooser v]
                    </td>
                </tr>
            </table>
            <strong>App background</strong>
            <table class="table table-bordered">
                <tr>
                    <td>( ) <strong>Image:</strong></td>:
                    <td>
                        [ browse... ] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ( ) stretch &nbsp;&nbsp; ( ) tile
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>( ) <strong>Color:</strong></td>
                    <td>
                        [<i class="fa fa-square" style="color:#9d86c9;size:2px;">]</i>[9d86c9 v]</td>
                </tr>
            </table>
            <strong>App header</strong>
            <table class="table table-bordered">
                <tr>
                    <td><strong>Logo:</strong></td>
                    <td colspan="2">
                        [ browse ...] &nbsp;&nbsp; ---()------ &nbsp;&nbsp; [ 42]%
                    </td>
                </tr>
                <tr>
                    <td><strong>Color:</strong></td>
                    <td class="column-text-fit">
                        [<i class="fa fa-square" style="color:#9d86c9;size:2px;"></i>]
                        [9d86c9 v]&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>Text:</strong></td>
                    <td class="column-text-fit">
                        [+[ 12]-] pt &nbsp;&nbsp;
                        [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>]
                    </td>
                    <td>
                        <strong>
                            <i class="fa fa-font" style="color:darkgreen"></i>
                        </strong>: &nbsp;
                        [<i class="fa fa-square" style="color:#050505;size:2px;"></i>]
                        [050505 v]
                    </td>
                </tr>
            </table>
            <strong>List settings</strong>
            <table class="table table-bordered">
                <tr>
                    <td class="column-text-fit">
                        <strong>Color:</strong>
                    </td>
                    <td>
                        [<i class="fa fa-square" style="color:#9d86c9;size:2px;"></i>]
                        [9d86c9 v]&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><strong>Caption:</strong></td>
                    <td colspan="2">
                        [+[ 16]-] pt &nbsp;&nbsp;
                        [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>] &nbsp;&nbsp;
                        <strong><i class="fa fa-font" style="color:darkgreen"></i></strong>: &nbsp;
                        [<i class="fa fa-square" style="color:#050505;size:2px;"></i>]
                        [050505 v]
                    </td>
                </tr>
                <tr>
                    <td><strong>Item:</strong></td>
                    <td colspan="2">
                        [+[12.5]-] pt &nbsp;&nbsp;
                        [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>] &nbsp;&nbsp;
                        <strong><i class="fa fa-font" style="color:darkgreen"></i></strong>: &nbsp;
                        [<i class="fa fa-square" style="color:#050505;size:2px;"></i>]
                        [050505 v]
                    </td>
                </tr>
            </table>
            <strong>Button settings</strong>
            <table class="table table-bordered">
                <tr>
                    <td class="column-text-fit"><strong>Color:</strong></td>
                    <td>
                        [<i class="fa fa-square" style="color:#9d86c9;size:2px;"></i>]
                        [9d86c9 v]&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="column-text-fit"><strong>Text:</strong></td>
                    <td colspan="2">
                        [+[12.5]-] pt &nbsp;&nbsp;
                        [<i class="fa fa-italic"></i>] &nbsp; [<i class="fa fa-bold"></i>] &nbsp;&nbsp;
                        <strong><i class="fa fa-font" style="color:darkgreen"></i></strong>: &nbsp;
                        [<i class="fa fa-square" style="color:#050505;size:2px;"></i>]
                        [050505 v]
                    </td>
                </tr>
            </table>


</Template>>