.w3-tangerine {
  font-family: 'Tangerine', serif !important;
}
.w3-lobster {
  font-family: 'Lobster', serif !important;
}
#section--theme-results {
  display: flex;
  flex-direction: column;
}
#results-header,
#results-footer {
  display: flex;
  flex-direction: column;
}
#results-main {
  /*overflow-y: scroll;*/
  flex: auto;
  /*height: 930px;*/
  background-size: contain;/*cover*/
  background-image: url('../images/samsung.jpg');
  background-repeat: no-repeat;
}
.phone-container{
  position: relative;
  width: 388px;
  height:800px; /*930px for image*/
}
.phone-panel{
  position: relative;
  top: 83px;
  left: 15px;
  /* inherits width from container */
  height:642px;
  /* background-color: lightblue; */
}
.phone-content {
  position: relative;
  top: 10px;
  left: 5px;
  width: 345px;
  /* background-color: pink; */
}
.width100 {
  width: 100%;
}
.halfwidth {
  width: 40%;
}

/* ---------  CSS of specific elements ------ */
.btn-margin {
  margin: 5px;
}
.inp-fontfam-width {
  width: 60%;
}
.inp-logo-width {
  width: 60px;
  text-align: right;
}
.inp-font-size {
  width: 35px;
  text-align: right;
}

/* #slider .ui-slider-handle {
  background: url(img/slider-handle.png) no-repeat;
  border: none;
} */