.color-box {
  border-width: 1px; 
  border-style: solid;
  border-color: black;
}

.color-picker-simulator {
  width: 75px;
  height: 75px;
  background-color: lightgoldenrodyellow;
}

.color-picker-img {
  width: 75px;
  height: 75px;
  /*background-image: url("../images")*/
}

.column-text-fit {
  width:1%;
  white-space: nowrap;
}

.border-thin-gray {
  border-left: solid #9d9d9d !important;
  border-bottom: solid #9d9d9d !important;
  border-width: 1px !important;
} 

/* ----------- Vendor stuff ------------------- */

/* http://www.bootstraptoggle.com/ */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 50px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

/* https://bootsnipp.com/snippets/featured/bootstrap-square-buttons */ 
.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}


/* ---------- Vys site archived --------- */ 
.vys-details-pad{
  padding: 3px !important;
}

.w3-tangerine {
  font-family: 'Tangerine', serif !important;
}
.w3-lobster {
  font-family: 'Lobster', serif !important;
}
#section--theme-results {
  display: flex;
  flex-direction: column;
}
#results-header,
#results-footer {
  display: flex;
  flex-direction: column;
}
#results-main {
  /*overflow-y: scroll;*/
  flex: auto;
  /*height: 930px;*/
  background-size: contain;/*cover*/
  background-image: url('../images/samsung.jpg');
  background-repeat: no-repeat;
}
.phone-container{
  position: relative;
  width: 388px;
  height:800px; /*930px for image*/
}
.phone-panel{
  position: relative;
  top: 83px;
  left: 15px;
  /* inherits width from container */
  height:642px;
  /* background-color: lightblue; */
}
.phone-content {
  position: relative;
  top: 10px;
  left: 5px;
  width: 345px;
  /* background-color: pink; */
}
/*
.width100 {   width: 100%; }
.halfwidth {   width: 40%; }
*/

/* ---------  CSS of specific elements ------ */
.btn-margin {
  margin: 5px;
}
.inp-fontfam-width {
  width: 60%;
}
.inp-logo-width {
  width: 60px;
  text-align: right;
}
.inp-font-size {
  width: 35px;
  text-align: right;
}

/* #slider .ui-slider-handle {
  background: url(img/slider-handle.png) no-repeat;
  border: none;
} */

/* file upload button */
/* see: */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}