.w3-tangerine {
  font-family: 'Tangerine', serif !important;
}
.w3-lobster {
  font-family: 'Lobster', serif !important;
}

#section--theme-results {
  display: flex;
  flex-direction: column;
}
#results-header,
#results-footer {
  display: flex;
  flex-direction: column;
}
#results-main {
  /*overflow-y: scroll;*/
  flex: auto;
  height: 930px;
  /*background-size: cover;*/
  background-image: url('https://goo.gl/TFeKoc');
  background-repeat: no-repeat;
}
.inphone {
  position: relative;
  top: 120px;
  left: 36px;
  width: 412px;
}
.width100 {
  width: 100%;
}
.halfwidth {
  width: 40%;
}

/* ---------  CSS of specific elements ------ */
.btn-margin {
  margin: 5px;
}
.inp-fontfam-width {
  width: 60%;
}
.inp-logo-width {
  width: 60px;
  text-align: right;
}
.inp-font-size {
  width: 35px;
  text-align: right;
}

